[Unit]
Description=Processing script
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ user }}
ExecStart=/usr/bin/processing.sh {{ mount_point }}

[Install]
WantedBy=multi-user.target